# code: language=yaml
#
# Compute derived registry cache values.
#

{{- $eff := $state.spec.effective }}
{{- $distribution := $eff.distribution }}

{{- $renderDistribution := and $distribution.enabled (gt (len $distribution.upstreams) 0) }}
{{- $renderDistributionPodIdentity := and $renderDistribution $distribution.podIdentity.enabled }}
{{- $renderDistributionBucket := and $renderDistribution $distribution.storage.createBucket }}
{{- $renderDistributionNamespace := and $renderDistribution $distribution.createNamespace }}

{{- $distributionResourceName := trimAll "-" (trunc 63 (regexReplaceAll "[^a-z0-9-]+" (lower (printf "%s-distribution" $eff.name)) "-")) }}
{{- $distributionUpstreams := list }}
{{- $distributionObjectArns := list }}
{{- $distributionGateway := $distribution.gateway | default dict }}
{{- $distributionGatewayRootRoutes := list }}
{{- $distributionGatewayRootRouteKeys := dict }}
{{- range $upstream := $distribution.upstreams }}
  {{- $serviceSpec := $upstream.service | default dict }}
  {{- $servicePort := $serviceSpec.port | default 5000 }}
  {{- $baseName := trimAll "-" (trunc 45 (regexReplaceAll "[^a-z0-9-]+" (lower (printf "%s-dist-%s" $eff.name $upstream.name)) "-")) }}
  {{- $defaultRemoteUrl := printf "https://%s" $upstream.sourceRegistry }}
  {{- if eq $upstream.sourceRegistry "xpkg.crossplane.io" }}
    {{- $defaultRemoteUrl = "https://ghcr.io" }}
  {{- end }}
  {{- $remoteUrl := $upstream.remoteUrl | default $defaultRemoteUrl }}
  {{- $matchPrefix := $upstream.matchPrefix | default $upstream.sourceRegistry }}
  {{- $rootDirectoryDefault := printf "/%s/%s" $distribution.storage.rootPrefix $upstream.name }}
  {{- if eq $distribution.storage.rootPrefix "" }}
    {{- $rootDirectoryDefault = printf "/%s" $upstream.name }}
  {{- end }}
  {{- $rootDirectory := $upstream.rootDirectory | default $rootDirectoryDefault }}
  {{- $rootDirectory = printf "/%s" (trimAll "/" $rootDirectory) }}
  {{- if eq $rootDirectory "/" }}
    {{- $rootDirectory = "" }}
  {{- end }}
  {{- $objectPrefix := trimAll "/" $rootDirectory }}
  {{- $objectArn := printf "arn:aws:s3:::%s/*" $distribution.storage.bucketName }}
  {{- if ne $objectPrefix "" }}
    {{- $objectArn = printf "arn:aws:s3:::%s/%s/*" $distribution.storage.bucketName $objectPrefix }}
  {{- end }}
  {{- $distributionObjectArns = append $distributionObjectArns $objectArn }}
  {{- $rewriteSpec := $upstream.rewrite | default dict }}
  {{- $rewriteEnabled := false }}
  {{- if hasKey $rewriteSpec "enabled" }}
    {{- $rewriteEnabled = $rewriteSpec.enabled }}
  {{- end }}
  {{- $gatewaySpec := $upstream.gateway | default dict }}
  {{- $gatewayEnabled := $distributionGateway.enabled | default false }}
  {{- if hasKey $gatewaySpec "enabled" }}
    {{- $gatewayEnabled = $gatewaySpec.enabled }}
  {{- end }}
  {{- $gatewayHostname := $gatewaySpec.hostname | default ($distributionGateway.hostname | default "") }}
  {{- $gatewayPort := $distributionGateway.port | default 443 }}
  {{- $gatewayRef := $distributionGateway.gatewayRef | default dict }}
  {{- if and $gatewayEnabled (eq $gatewayHostname "") }}
    {{- fail (printf "spec.distribution.upstreams[%s].gateway.hostname or spec.distribution.gateway.hostname is required when gateway exposure is enabled" $upstream.name) }}
  {{- end }}
  {{- $gatewayPathPrefixDefault := trimAll "-" (regexReplaceAll "[^a-z0-9]+" (lower $matchPrefix) "-") }}
  {{- if eq $gatewayPathPrefixDefault "" }}
    {{- $gatewayPathPrefixDefault = $upstream.name }}
  {{- end }}
  {{- $gatewayPathPrefix := trimAll "/" ($gatewaySpec.pathPrefix | default $gatewayPathPrefixDefault) }}
  {{- if and $gatewayEnabled (eq $gatewayPathPrefix "") }}
    {{- fail (printf "spec.distribution.upstreams[%s].gateway.pathPrefix must not be empty when gateway exposure is enabled" $upstream.name) }}
  {{- end }}
  {{- $gatewayRegistryPrefix := "" }}
  {{- $gatewayRoutePathPrefix := "" }}
  {{- if $gatewayEnabled }}
    {{- $gatewayRegistryHost := $gatewayHostname }}
    {{- if ne $gatewayPort 443 }}
      {{- $gatewayRegistryHost = printf "%s:%d" $gatewayHostname $gatewayPort }}
    {{- end }}
    {{- $gatewayRegistryPrefix = printf "%s/%s" $gatewayRegistryHost $gatewayPathPrefix }}
    {{- $gatewayRoutePathPrefix = printf "/v2/%s" $gatewayPathPrefix }}
    {{- $rootRouteKey := printf "%s:%d" $gatewayHostname $gatewayPort }}
    {{- if not (hasKey $distributionGatewayRootRouteKeys $rootRouteKey) }}
      {{- $_ := set $distributionGatewayRootRouteKeys $rootRouteKey true }}
      {{- $distributionGatewayRootRoutes = append $distributionGatewayRootRoutes (dict
        "name" $upstream.name
        "resourceName" (printf "%s-root" $baseName)
        "httpRouteResourceName" (printf "%s-root-httproute" $baseName)
        "hostname" $gatewayHostname
        "port" $gatewayPort
        "gatewayRef" $gatewayRef
        "backendServiceName" $baseName
        "backendServicePort" $servicePort
        "labels" (mergeOverwrite (dict) $eff.labels (dict "hops.ops.com.ai/distribution-upstream" $upstream.name))
      ) }}
    {{- end }}
  {{- end }}
  {{- $defaultRewritePrefix := $gatewayRegistryPrefix }}
  {{- $rewritePrefix := $rewriteSpec.prefix | default $defaultRewritePrefix }}
  {{- if and $rewriteEnabled (eq $rewritePrefix "") }}
    {{- fail (printf "spec.distribution.upstreams[%s].rewrite.prefix is required when rewrite.enabled is true unless gateway exposure is enabled" $upstream.name) }}
  {{- end }}
  {{- $distributionUpstreams = append $distributionUpstreams (dict
    "name" $upstream.name
    "resourceName" $baseName
    "configResourceName" (printf "%s-config" $baseName)
    "deploymentResourceName" (printf "%s-deploy" $baseName)
    "serviceResourceName" (printf "%s-service" $baseName)
    "imageConfigResourceName" (printf "%s-imgcfg" $baseName)
    "httpRouteResourceName" (printf "%s-httproute" $baseName)
    "sourceRegistry" $upstream.sourceRegistry
    "matchPrefix" $matchPrefix
    "remoteUrl" $remoteUrl
    "ttl" ($upstream.ttl | default "168h")
    "rootDirectory" $rootDirectory
    "objectArn" $objectArn
    "service" (dict
      "name" $baseName
      "type" ($serviceSpec.type | default "ClusterIP")
      "port" $servicePort
    )
    "gateway" (dict
      "enabled" $gatewayEnabled
      "hostname" $gatewayHostname
      "port" $gatewayPort
      "pathPrefix" $gatewayPathPrefix
      "routePathPrefix" $gatewayRoutePathPrefix
      "rewritePathPrefix" "/v2"
      "httpRouteName" $baseName
      "gatewayRef" $gatewayRef
    )
    "rewrite" (dict
      "enabled" $rewriteEnabled
      "prefix" $rewritePrefix
      "imageConfigName" ($rewriteSpec.imageConfigName | default $baseName)
    )
    "resources" ($upstream.resources | default dict)
    "labels" (mergeOverwrite (dict) $eff.labels (dict "hops.ops.com.ai/distribution-upstream" $upstream.name))
  ) }}
{{- end }}

{{- $state = set $state "registryCache" (dict
  "name" $eff.name
  "accountId" $eff.accountId
  "region" $eff.region
  "clusterName" $eff.clusterName
  "managementPolicies" $eff.managementPolicies
  "providerConfigRefs" $eff.providerConfigRefs
  "labels" $eff.labels
  "tags" $eff.tags
  "distribution" (mergeOverwrite (dict) $distribution (dict
    "render" $renderDistribution
    "renderNamespace" $renderDistributionNamespace
    "renderBucket" $renderDistributionBucket
    "renderPodIdentity" $renderDistributionPodIdentity
    "resourceName" $distributionResourceName
    "upstreams" $distributionUpstreams
    "gateway" (mergeOverwrite (dict) $distributionGateway (dict
      "rootRoutes" $distributionGatewayRootRoutes
    ))
    "bucketArn" (printf "arn:aws:s3:::%s" $distribution.storage.bucketName)
    "objectArns" $distributionObjectArns
  ))
) }}
