# code: language=yaml
#
# Low-level ECR pull-through cache primitive.
#

{{- $cache := $state.registryCache }}
{{- if $cache.pullThrough.render }}
---
apiVersion: aws.hops.ops.com.ai/v1alpha1
kind: ECRRegistryCache
metadata:
  name: {{ $cache.name }}
  annotations:
    {{ setResourceNameAnnotation "ecr-registry-cache" }}
  labels: {{ $cache.labels | toJson }}
spec:
  accountId: {{ $cache.accountId | quote }}
  region: {{ $cache.region }}
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.aws.name }}
    kind: {{ $cache.providerConfigRefs.aws.kind }}
  labels: {{ $cache.labels | toJson }}
  tags: {{ $cache.tags | toJson }}
  {{- with $cache.pullThrough.enhancedScanning }}
  enhancedScanning:
    {{ toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- toYaml $cache.pullThrough.rules | nindent 4 }}
{{- end }}
