# code: language=yaml
#
# ECR pull-through cache rules.
#

{{- $cache := $state.registryCache }}
{{- if $cache.pullThrough.render }}
{{- range $rule := $cache.pullThrough.rules }}
---
apiVersion: ecr.aws.m.upbound.io/v1beta1
kind: PullThroughCacheRule
metadata:
  name: {{ $rule.resourceName }}
  annotations:
    {{ setResourceNameAnnotation (printf "rule-%s" $rule.name) }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  forProvider:
    region: {{ $cache.region }}
    ecrRepositoryPrefix: {{ $rule.ecrRepositoryPrefix }}
    upstreamRegistryUrl: {{ $rule.upstreamRegistryUrl }}
    {{- if $rule.credentialArn }}
    credentialArn: {{ $rule.credentialArn }}
    {{- end }}
    {{- if $rule.customRoleArn }}
    customRoleArn: {{ $rule.customRoleArn }}
    {{- end }}
    {{- if $rule.upstreamRepositoryPrefix }}
    upstreamRepositoryPrefix: {{ $rule.upstreamRepositoryPrefix }}
    {{- end }}
    {{- with $rule.forProvider }}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.aws.name }}
    kind: {{ $cache.providerConfigRefs.aws.kind }}
{{- end }}
{{- end }}
