# code: language=yaml
#
# Optional namespace for Distribution proxy caches.
#

{{- $cache := $state.registryCache }}
{{- if $cache.distribution.renderNamespace }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $cache.distribution.resourceName }}-namespace
  annotations:
    {{ setResourceNameAnnotation "distribution-namespace" }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: {{ $cache.distribution.namespace }}
        labels: {{ $cache.labels | toJson }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.kubernetes.name }}
    kind: {{ $cache.providerConfigRefs.kubernetes.kind }}
{{- end }}
