# code: language=yaml
#
# ServiceAccount used by the mirror CronJob.
#

{{- $cache := $state.registryCache }}
{{- if $cache.mirror.render }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $cache.mirror.resourceName }}-sa
  annotations:
    {{ setResourceNameAnnotation "mirror-service-account" }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: {{ $cache.mirror.serviceAccount.name }}
        namespace: {{ $cache.mirror.namespace }}
        labels: {{ $cache.mirror.serviceAccount.labels | toJson }}
        {{- with $cache.mirror.serviceAccount.annotations }}
        annotations: {{ . | toJson }}
        {{- end }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.kubernetes.name }}
    kind: {{ $cache.providerConfigRefs.kubernetes.kind }}
{{- end }}
