# code: language=yaml
#
# Shared ServiceAccount for Distribution proxy cache pods.
#

{{- $cache := $state.registryCache }}
{{- if $cache.distribution.render }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $cache.distribution.resourceName }}-sa
  annotations:
    {{ setResourceNameAnnotation "distribution-service-account" }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: {{ $cache.distribution.serviceAccount.name }}
        namespace: {{ $cache.distribution.namespace }}
        labels: {{ $cache.distribution.serviceAccount.labels | toJson }}
        annotations: {{ $cache.distribution.serviceAccount.annotations | toJson }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.kubernetes.name }}
    kind: {{ $cache.providerConfigRefs.kubernetes.kind }}
{{- end }}
