# code: language=yaml
#
# Scheduled mirror job.
#

{{- $cache := $state.registryCache }}
{{- if $cache.mirror.render }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $cache.mirror.resourceName }}-cronjob
  annotations:
    {{ setResourceNameAnnotation "mirror-cronjob" }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  forProvider:
    manifest:
      apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: {{ $cache.mirror.resourceName }}
        namespace: {{ $cache.mirror.namespace }}
        labels: {{ $cache.labels | toJson }}
      spec:
        schedule: {{ $cache.mirror.schedule | quote }}
        suspend: {{ $cache.mirror.suspend }}
        concurrencyPolicy: {{ $cache.mirror.concurrencyPolicy }}
        {{- if $cache.mirror.hasStartingDeadlineSeconds }}
        startingDeadlineSeconds: {{ $cache.mirror.startingDeadlineSeconds }}
        {{- end }}
        successfulJobsHistoryLimit: {{ $cache.mirror.successfulJobsHistoryLimit }}
        failedJobsHistoryLimit: {{ $cache.mirror.failedJobsHistoryLimit }}
        jobTemplate:
          spec:
            backoffLimit: {{ $cache.mirror.backoffLimit }}
            activeDeadlineSeconds: {{ $cache.mirror.activeDeadlineSeconds }}
            template:
              metadata:
                labels: {{ $cache.labels | toJson }}
              spec:
                serviceAccountName: {{ $cache.mirror.serviceAccount.name }}
                restartPolicy: Never
                {{- with $cache.mirror.imagePullSecrets }}
                imagePullSecrets:
                  {{ toYaml . | nindent 18 }}
                {{- end }}
                {{- with $cache.mirror.podSecurityContext }}
                securityContext:
                  {{ toYaml . | nindent 18 }}
                {{- end }}
                containers:
                  - name: mirror
                    image: {{ $cache.mirror.image | quote }}
                    imagePullPolicy: {{ $cache.mirror.imagePullPolicy }}
                    command:
                      - /bin/sh
                    args:
                      - /etc/registry-cache/mirror.sh
                    env:
                      - name: HOPS_REGISTRY_CACHE_CONFIG
                        value: /etc/registry-cache/mirror-config.json
                      - name: AWS_REGION
                        value: {{ $cache.region | quote }}
                      - name: AWS_DEFAULT_REGION
                        value: {{ $cache.region | quote }}
                      {{- with $cache.mirror.env }}
                      {{ toYaml . | nindent 22 }}
                      {{- end }}
                    {{- with $cache.mirror.envFrom }}
                    envFrom:
                      {{ toYaml . | nindent 22 }}
                    {{- end }}
                    {{- with $cache.mirror.resources }}
                    resources:
                      {{ toYaml . | nindent 22 }}
                    {{- end }}
                    {{- with $cache.mirror.securityContext }}
                    securityContext:
                      {{ toYaml . | nindent 22 }}
                    {{- end }}
                    volumeMounts:
                      - name: config
                        mountPath: /etc/registry-cache
                        readOnly: true
                {{- with $cache.mirror.nodeSelector }}
                nodeSelector:
                  {{ toYaml . | nindent 18 }}
                {{- end }}
                {{- with $cache.mirror.tolerations }}
                tolerations:
                  {{ toYaml . | nindent 18 }}
                {{- end }}
                {{- with $cache.mirror.affinity }}
                affinity:
                  {{ toYaml . | nindent 18 }}
                {{- end }}
                volumes:
                  - name: config
                    configMap:
                      name: {{ $cache.mirror.resourceName }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.kubernetes.name }}
    kind: {{ $cache.providerConfigRefs.kubernetes.kind }}
{{- end }}
