# code: language=yaml
#
# Optional EKS PodIdentity for ECR write access.
#

{{- $cache := $state.registryCache }}
{{- if $cache.mirror.renderPodIdentity }}
---
apiVersion: aws.hops.ops.com.ai/v1alpha1
kind: PodIdentity
metadata:
  name: {{ $cache.mirror.resourceName }}
  annotations:
    {{ setResourceNameAnnotation "pod-identity" }}
  labels: {{ $cache.labels | toJson }}
spec:
  managementPolicies: {{ $cache.managementPolicies | toJson }}
  region: {{ $cache.region }}
  {{- if $cache.clusterName }}
  clusterName: {{ $cache.clusterName }}
  {{- end }}
  providerConfigRef:
    name: {{ $cache.providerConfigRefs.aws.name }}
    kind: {{ $cache.providerConfigRefs.aws.kind }}
  labels: {{ $cache.labels | toJson }}
  tags: {{ $cache.tags | toJson }}
  {{- if $cache.mirror.podIdentity.rolePrefix }}
  rolePrefix: {{ $cache.mirror.podIdentity.rolePrefix }}
  {{- end }}
  {{- if $cache.mirror.podIdentity.roleNameOverride }}
  roleNameOverride: {{ $cache.mirror.podIdentity.roleNameOverride }}
  {{- end }}
  {{- if $cache.mirror.podIdentity.permissionsBoundaryArn }}
  permissionsBoundaryArn: {{ $cache.mirror.podIdentity.permissionsBoundaryArn }}
  {{- end }}
  serviceAccount:
    name: {{ $cache.mirror.serviceAccount.name }}
    namespace: {{ $cache.mirror.namespace }}
  inlinePolicy:
    - name: ecr-registry-cache-mirror
      policy: |
        {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Action": [
                "ecr:GetAuthorizationToken"
              ],
              "Resource": "*"
            },
            {
              "Effect": "Allow",
              "Action": [
                "ecr:DescribeRepositories",
                "ecr:CreateRepository",
                "ecr:BatchCheckLayerAvailability",
                "ecr:InitiateLayerUpload",
                "ecr:UploadLayerPart",
                "ecr:CompleteLayerUpload",
                "ecr:PutImage",
                "ecr:BatchGetImage",
                "ecr:GetDownloadUrlForLayer"
              ],
              "Resource": {{ $cache.mirror.ecrRepositoryArns | toJson }}
            }
          ]
        }
{{- end }}
