# code: language=yaml
#
# Update XR status.
#

{{- $xr := getCompositeResource . }}
{{- $s := $state.status }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $s.ready }}
  distribution:
    enabled: {{ $s.distribution.enabled }}
    ready: {{ $s.distribution.ready }}
    namespace: {{ $s.distribution.namespace }}
    bucketName: {{ $s.distribution.bucketName }}
    upstreams:
      {{- toYaml $s.distribution.upstreams | nindent 6 }}
