# code: language=yaml
#
# Update XR status.
#

{{- $xr := getCompositeResource . }}
{{- $s := $state.status }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $s.ready }}
  registry:
    id: {{ $s.registry.id | quote }}
    host: {{ $s.registry.host }}
  pullThrough:
    enabled: {{ $s.pullThrough.enabled }}
    ready: {{ $s.pullThrough.ready }}
    scanning:
      enabled: {{ $s.pullThrough.scanning.enabled }}
      scanType: {{ $s.pullThrough.scanning.scanType | quote }}
    rules:
      {{- toYaml $s.pullThrough.rules | nindent 6 }}
  mirror:
    enabled: {{ $s.mirror.enabled }}
    ready: {{ $s.mirror.ready }}
    namespace: {{ $s.mirror.namespace }}
    schedule: {{ $s.mirror.schedule | quote }}
    targetRegistry: {{ $s.mirror.targetRegistry }}
    configuredRepositories: {{ $s.mirror.configuredRepositories }}
    discoveryEnabled: {{ $s.mirror.discoveryEnabled }}
    podIdentityEnabled: {{ $s.mirror.podIdentityEnabled }}
    lifecyclePolicyEnabled: {{ $s.mirror.lifecyclePolicyEnabled }}
    repositoryCreationTemplates: {{ $s.mirror.repositoryCreationTemplates }}
